*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: $black;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    font-family:  'Quattrocento Sans', Helvetica, Arial, sans-serif;
  }

p {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h2 {
  font-size: 5rem;
  color: $dark_mint;
  margin-bottom: 1rem;
  text-align: center;
}

a {
  color: $dark_mint;
  font-weight: 700;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

p {
  font-size: 1.8rem;

  @media #{$small} {
      font-size: 2rem;
  }

  @media #{$extraLarge} {
      font-size: 2.4rem;
  }
}