.socialIcons {
    ul {
        display: flex;
        justify-content: center;
    }

    li {
        list-style-type: none;
        margin: 0 2rem;
    }

    a {
        font-size: 4rem;
        display: inline-block;
        transition: all .2s ease-in-out;
        
        &:hover {
            transform: scale(1.1);
        }
    }
}